/* FONTS */
@font-face {
    font-family: Nunito-Light;
    src: url('/src/fonts/Nunito-Light.ttf');
    font-weight:100;
    font-style: normal;
}

@font-face {
    font-family: Nunito-LightItalic;
    src: url();
}