@import url('./vars.css');
@import url('./color_layouts.css');
@import url('./fonts.css');
@import url('./mixins.css');


/* BOX RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
